{% extends 'index.html' %}

{% block headers %}
<title> Lauren's Blog - Home</title>
<style>
    /* Custom Styles */
    .aboutme-section {
      background-color: rgb(238, 206, 185, 0.85); /* Blue */
      text-align: center;
      color: rgb(0, 0, 0); /* Green */
    }
    .about-section {
      background-color: rgb(187, 154, 177, 0.9);
      text-align: center;
     
    }
    .custom-card{
        color: rgb(31, 0, 69);
        background-color: #c9aec1; /* Fully transparent background */
        border: 2px solid #ab8fc0; /* Dark purple border */
        border-radius: 8px; /* Optional: Slightly rounded corners */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for depth */
        
    }
    
    .container-lg {
      max-width: 1140px;
    }
    .image-container {
            padding: 20px; /* Adjust padding as needed */
            display: inline-block; 
            align-items: center;/* Keeps the container's width to the image's size */
            background-color: #ffffff; /* Optional: Adds a background color around the image */
            border-radius: 8px; /* Optional: Adds rounded corners to the padding area */
        }

    .image-container img {
            max-width: 150px; /* Adjust the maximum width of the image */
            height: auto; /* Maintain aspect ratio */
            display: block; /* Remove the extra space below the image */
    }
    
    .title-section{
        background-image: url("{{ url_for('static', filename='climbing.jpg') }}");
        background-size: cover; /* Ensure the image covers the entire background */
        background-position: center;
        background-attachment: fixed;
    }
    .title-section h1, .image-title, .title-section p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a dark shadow for better readability */
    color: white; /* Ensure text color is white or another contrasting color */
    }

    
  </style>
{% endblock %}

{% block content %}

<section class="section title-section">
    <div class="container-lg">
      <h1>Welcome to My Blog</h1>
      <p class="lead">Exploring the world of coding, competition climbing, and everything in between.</p>
    </div>
</section>

<!-- About the Blog Section -->
<section class="section about-section">
<div class="container-lg">
    <h2>About the Blog</h2>
        <p>I've always had a joy for climbing and coding. As I continued exploring these hobbies, i've been really intruiged by the mental aspect and process behind it, and thought this blog would be the perfect opportunity to explore further and share insights on this topic!</p>
        <div class="row justify-content-center">
            <div class="col card custom-card p-4 m-3 d-flex flex-column">
                <h2>Expert Insights</h2>
                <!-- <div class="image-container">
                    <img src="https://static-00.iconduck.com/assets.00/trophy-icon-2048x2048-qzkx1nrp.png" alt="Trophy Icon">
                </div> -->
                <hr>
                <p>Mental health and mindset - such an important factor of sports, yet it is often seen as a taboo and a form of vulnerability. Dive into this section to discover different experts's opinions and insights on this crucial topic!</p>
                <div class="mt-auto">
                    <a href="/expertinsights" class="btn btn-outline-dark">Learn More</a>
                </div>
            </div>
        
            <div class="col card custom-card p-4 m-3 d-flex flex-column">
                <h2>Blog</h2>
                <hr>
                <p>In this section, I share my competition and training experiences in climbing, as well as other interesting and notable experiences.</p>
                <div class="mt-auto">
                    <a href="/blog" class="btn btn-outline-dark">Learn More</a>
                </div>
            </div>
        
            <div class="col card custom-card p-4 m-3 d-flex flex-column">
                <h2>Coding</h2>
                <hr>
                <p>My computer is always filled with small (and quite random) coding projects - instead of wasting all this storage space, I thought this would be the perfect platform to share my projects and ideas!</p>
                <div class="mt-auto">
                    <a href="/coding" class="btn btn-outline-dark">Learn More</a>
                </div>
            </div>
        </div>
        
</div>
</section>

<!-- Blog Posts Section -->
<section class="section home-posts">
<div class="container-lg">
    <h1 class="image-title">Latest Blog Posts</h1>
    <hr>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4">
                <div class="card post-card bg-light border-0">
                {% if post.image_path %}
                    <img src="{{ url_for('static', filename=post.image_path) }}" alt="{{post.image_path}}">
                {% endif %}
                <div class="card-body">
                    <small class="text-muted">{{ post.date_added.strftime('%B %d, %Y') }}</small>
                    <hr>
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{ post.content[:150] }}...</p>
                    <a href="{{ url_for('views.post', id=post.id) }}" class="btn btn-dark">Read More</a>
                </div>
                </div>
            </div>
        {% else %}
        <p>No posts</p>
        {% endfor %}
    </div>
</div>
</section>

<section class="section aboutme-section">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2>About me</h2>
                <hr>
                <p>Hi, i'm Lauren - i'm a climber, a coder, and a professional Natalia Grossman fangirl. I enjoy listening to Laufey, Pop, and Jazz Music, and you can often find me engrossed in the latest murder mystery novel! I created this platform to talk about underrated and intersting topics in competitive sports, as well as sharing my small (and quite random) coding projects. A warm welcome! </p>
                <br>
                <p>Current favourite song: L'AMOUR DE LA VIE - Billie Eilish <br> Currently working on: Jearn and my blog!</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}