{% extends 'index.html' %}

{% block headers %}
<style>
    
</style>
{% endblock %}

{% block content %}

<section class="section title-section">
    <div class="container-lg">
        {% block title1 %}
        
        
        {% endblock %}
    </div>
</section>

<!-- Blog Posts Section -->
<section class="section posts-section">
<div class="container-lg">
    {% block title2 %}
    
    {% endblock %}
    <hr>
    <div class="row">
        {% for post in posts %}
            <div class="col-md-4 mb-4">
                <div class="card post-card bg-light border-0">
                    {% if post.image_path %}
                        <img src="{{ url_for('static', filename=post.image_path) }}" alt="{{ post.title }}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <small class="text-muted">{{ post.date_added.strftime('%B %d, %Y') }}</small>
                        <hr>
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.content[:150] }}...</p>
                        <a href="{{ url_for('views.post', id=post.id) }}" class="btn btn-dark">Read More</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-12">
                <p>No posts available.</p>
            </div>
        {% endfor %}
    </div>
</div>
</section>


{% endblock %}